	/*resets*/
	html, body {
		margin: 0;
		margin-top: 65px;
		width: 100%;
		height: 100%;
		padding: 0px;
	}

	p {
		margin-block-start: 0;
	    margin-block-end: 0;
	}

	ul {
		margin-block-start: 0;
	    margin-block-end: 0;
	    padding-inline-start: 0px;
	}

	.header-empresa {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #ececec;
		position: fixed;
	  	top: 0;
	  	z-index: 9999;
	  	width: 100vw;
	  	padding: 10px;
	}

	.header-menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		width: 	60%;
	}

	.menus {
		width: 351px;
		height: 12px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.menulink-home {
		color: #525252;
		font-family: "Arial";
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}

	.menulink {
		color: #525252;
		font-family: "Arial";
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
	}

	.menulink:hover, .menulink-home:hover {
		color: #787575;
	}

	.menulink:active, .menulink-home:active {
		color: #a6a2a2;
	}

	.telefone-menu {
		width: 190px;
		height: 50px;
		background-color: #f86a42;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.telefone {
		color: #ffffff;
		font-family: "Arial";
		font-size: 20px;
		font-weight: bold;
		font-style: italic;
	}

	/* -------------------------------------------------------------------
	----------------------------------------------------------------------
	--------------------------------------------------------------------*/

	nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 8vh;
	}

	.nav-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 700px;
	}

	.nav-links li {
		list-style: none
	}

	.burger {
		display: none;
	}

	.burger div {
		width: 30px;
		height: 5px;
		background: black;
		margin: 5px;
		border-radius: 50%;
	}


	/* -------------------------------------------------------------------
	----------------------------------------------------------------------
	--------------------------------------------------------------------*/

	.slick-prev, .slick-next {
	    z-index: 2 !important;
	}

	.carrosel-descricao {
		position: absolute;
		color: #000000;
		font-family: "Arial Black";
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
		display: none;
		justify-content: flex-start;
		align-items: center;
		width: 1056px;
		height: 308px;
	}

	.empresa-conteudo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.conteudo-container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.conteudo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 20px;
		width: 835px;
	}

	.titulo-imagem-container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 815px;
	}

	.a-empresa {
		background: white;

	}

	.titulo-empresa {
		color: #f86a42;
		font-family: "Arial Black";
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.descricao-container{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 10px;
	}

	.descricao-empresa {
		color: #2c2c2c;
		font-family: "Arial MT";
		font-size: 14px;
		font-weight: 400;
		margin: 0px 40px;
	}

	.saiba-mais {
		width: 185px;
		height: 40px;
		background-color: #faae00;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px;
		cursor: pointer;
	}

	.saiba-mais:hover {
		background: #f2bb3d;
	}

	.saiba-mais:active {
		background: #f7d179;
	}

	.saiba-mais-texto {
		color: #ffffff;
		font-family: "Arial";
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.descricao-saiba-mais-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.veja-equipe {
		width: 835px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.veja-equipe-botao {
		width: 243px;
		height: 40px;
		background-color: #faae00;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px;
		cursor: pointer;
	}

	.veja-equipe-texto {
		color: #ffffff;
		font-family: "Arial";
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.veja-equipe-botao:hover {
		background: #f2bb3d;
	}

	.veja-equipe-botao:active {
		background: #f7d179;
	}

	.equipe-imgs {
		display: none;
		justify-content: center;
		align-items: center;
	}

	.equipe-show {
		display: flex;
		transition: all 0.5s ease-in-out
	}

	.equipe-imgs-format {
		width: 276px; 
		height: 207px;
		margin: 15px;
	}

		.footer-empresa {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 105px;
			background-color: #ececec;
		}

		.endereco {
			color: #525252;
			font-family: "Arial";
			font-size: 15px;
			font-weight: 400;
		}

		.email {
			color: #525252;
			font-family: "Arial Black";
			font-size: 15px;
			font-weight: bold;
		}

		.tel {
			color: #525252;
			font-family: "Arial Black";
			font-size: 20px;
			font-weight: bold;
			font-style: italic;
		}

@media screen and (max-width: 1024px) {
		body {
			margin-top: 50px;
		}

		.logo {
			width: 150px;
			height: 100px;
		}

		.menulink-home {
			font-size: 13px;
		}

		.menulink {
			font-size: 13px;
		}

		.nav-links {
			width: 600px;
		}

		.conteudo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 20px;
		width: 835px;
		}

		.titulo-imagem-container {
			width: 815px;
		}

		.a-empresa {
			background: white;

		}

		.titulo-empresa {
			font-size: 26px;
		}

		.descricao-container{
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin: 10px;
		}

		.descricao-empresa {
			color: #2c2c2c;
			font-family: "Arial MT";
			font-size: 14px;
			font-weight: 400;
			margin: 0px 40px;
		}

		.saiba-mais {
			width: 185px;
			height: 40px;
			background-color: #faae00;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 30px;
			cursor: pointer;
		}

		.saiba-mais:hover {
			background: #f2bb3d;
		}

		.saiba-mais:active {
			background: #f7d179;
		}

		.saiba-mais-texto {
			color: #ffffff;
			font-family: "Arial";
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
		}

		.descricao-saiba-mais-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		.veja-equipe {
			width: 835px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.veja-equipe-botao {
			width: 243px;
			height: 40px;
			background-color: #faae00;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 30px;
			cursor: pointer;
		}

		.veja-equipe-texto {
			color: #ffffff;
			font-family: "Arial";
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.veja-equipe-botao:hover {
			background: #f2bb3d;
		}

		.veja-equipe-botao:active {
			background: #f7d179;
		}

		.equipe-imgs {
			display: none;
			justify-content: center;
			align-items: center;
		}

		.equipe-show {
			display: flex;
			transition: all 0.5s ease-in-out
		}

		.equipe-imgs-format {
			width: 276px; 
			height: 207px;
			margin: 15px;
		}
}

@media only screen and (max-width: 768px) {
	body {
		margin-top: 10px;
		box-sizing: border-box;
		width: 100%;
	    height: 100%;
	    padding: 0px;
	    overflow-x: hidden; 
		}

	nav {
		display: flex;
		flex-direction: column;
	}

	li {
		margin: 10px;
	}

	.nav-links {
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 200px;
	}

	.animated {
		display: flex;
		transition: all 0.5s ease-in-out;
	}

	.logo {
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo-img {
		width: 150px;
		height: 100px;
	}

	.burger {
		display: block;
		right: 50px;
		position: absolute;
	}

	.burger div {
		width: 30px;
		height: 5px;
		background: black;
		margin: 5px;
		border-radius: 50%;
	}

	.menulink-home {
		font-size: 20px;
	}

	.menulink {
		font-size: 20px;
	}

	.nav-links {
		width: 500px;
	}

	.titulo-imagem-container {
		width: 665px;
	}

	.titulo-empresa {
		font-size: 20px;
	}

	.descricao-container{
		margin: 5px;
		flex-direction: column;
		justify-content: center;
	}

	.equipe-img {
		width: 267px;
		height: 185px
	}

	.descricao-empresa {
		font-size: 12px;
		margin: 0;
	}

	.conteudo-container {
		margin: 20px;
		width: 267px;
	}	

	.saiba-mais {
		width: 155px;
		height: 40px;
		margin: 30px;
	}

	.veja-equipe {
		width: 267px;
	}

	.veja-equipe-botao {
		width: 210px;
  		height: 40px;
		margin: 30px;
	}

	.veja-equipe-texto {
		font-size: 15px;
	}

	.equipe-imgs-format {
		width: 200px; 
		height: 190px;
		margin: 10px;
	}

	.endereco {
		font-size: 10px;
	}

	.email {
		font-size: 10px;
	}

	.tel {
		font-size: 10px;
	}


}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}


